<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/compiled/bundle.css' />
  </head>
  <body>
     <div id="react-root"><%- react_app %></div>
  </body>
  <script src = "/compiled/bundle.js"></script>
</html>
